{% extends 'base.html' %} {% block head %}
<title>Flask Application</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">Welcome to Flask application</h1>
</div>
{% endblock %}
